html {
  box-sizing: border-box;
}

*, ::after::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e0dfdfab;
  padding: 10px 20px;
  max-width: 850px;
  margin: 0px auto;
  overflow-x: auto;
  background-image: url("../public/background.png");
  background-size: cover;
}
